<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>College_Management_System_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentFacultyLogin</display-name>
    <servlet-name>StudentFacultyLogin</servlet-name>
    <servlet-class>StudentFacultyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFacultyLogin</servlet-name>
    <url-pattern>/StudentFacultyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminFunctions</display-name>
    <servlet-name>AdminFunctions</servlet-name>
    <servlet-class>AdminFunctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminFunctions</servlet-name>
    <url-pattern>/AdminFunctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyFunctions</display-name>
    <servlet-name>FacultyFunctions</servlet-name>
    <servlet-class>FacultyFunctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyFunctions</servlet-name>
    <url-pattern>/FacultyFunctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentFunctions</display-name>
    <servlet-name>StudentFunctions</servlet-name>
    <servlet-class>StudentFunctions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFunctions</servlet-name>
    <url-pattern>/StudentFunctions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
</web-app>